body {
    margin: 0px;
    background-color: #f65e01;
} 
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #f65e01;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    background-color: #01207d;
    border-radius: 50%;
    color: #fff103;
    font-size: 36px;
    font-weight: bold;
    font-family: sans-serif;
}

#mesa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 250px;
}

#mesa img{
    transform: scale(0.5);
}

#acoes {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #01207d;
    color: #fff103;
    border: none;
    transform: scale(1.5);
    margin: 0 20px;
}

#acoes p {
    font-size: 36px;
    font-family: sans-serif;
}