body {
    margin: 0px;
    background-color: lightgray;
} 
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: darkgrey;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    background-color: darkgrey;
    font-size: 36px;
    font-weight: bold;
    font-family: sans-serif;
}

header img{
    transform: scale(0.4);
}

#mensagem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 250px;
}

#acoes {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: darkgrey;
    border: none;
    transform: scale(1.5);
    margin: 0 20px;
}