body {
    background-color: lightgrey;
    margin: 0px;
}

h1, h2 {
    font-family: sans-serif;
}

header{
    
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}

header nav{
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

header nav a{
    transition: 0.5s;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}

section{
    height: calc(100vh -150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form label{
    color: red;
    display: none;
}

#episodioiv{
    background-color: black;
}

#episodioiv marquee{
    color: yellow;
    text-align: center;

}

#propaganda{
    color: green;
    display: none;
    flex-direction: column;
    align-items: center;
}